.main {
  height: 100vh;
  width: 100vw;
  background: url("https://images.unsplash.com/photo-1579033461380-adb47c3eb938?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YXVyb3JhfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  .row {
    display: flex;
  }
  #pro-btn {
    background: white;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    border: 0;
    transition: 0.2s;
    font-weight: 700;
  }
  #title {
    font-size: 4rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#ffffff, #c0fff1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #subtitle {
    margin: 40px 0;
    margin-bottom: 80px;
    font-size: 1.4rem;
    font-weight: 500;
  }
  #button {
    color: black;
    cursor: pointer;
    background: white;
    padding: 15px 40px;
    border-radius: 15px;
    border: 0;
    transition: 0.1s;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 30px;
  }
  #button:hover {
    transform: scale(1.04);
  }
  #pro-btn:active,
  #button:active {
    transform: scale(0.95);
  }
  #pro-range {
    width: 400px;
  }
}
